{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you neeed to reset your password because you forgot it on your account {{ site_name }} like a dodo bird.{% endblocktranslate %}

{% translate "Choose a new password when u get there:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'You even forgot your username? ahhhhh:' %} {{ user.get_username }}

{% translate "Please do not visit us again!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}